/* App.css */

.navbarContainer {
  background-color: #343a40;
}

.navbarBrand {
  color: #fff;
}

.navbarToggle {
  border-color: #fff;
}

.navbarMenu {
  display: flex;
  align-items: center;
}

.navLink {
  color: #fff;
  margin-right: 10px;
}

.navLink:hover {
  color: #ccc;
}
